<launch>
	<param name = "/control_param/a" value = "30"/>
	<param name = "/control_param/b" value = "0"/>
	<param name = "/control_param/c" value = "3"/>
	<param name = "/control_param/d" value = "0"/>
	<param name = "/control_param/smooth" value = "1"/>

	<param name = "Motor_param/R_F_min" value = "1595"/>
	<param name = "Motor_param/R_B_min" value = "1455"/>
	<param name = "Motor_param/R_F_limit" value = "1650"/>
	<param name = "Motor_param/R_B_limit" value = "1300"/>

	<param name = "Motor_param/L_F_min" value = "1602"/>
	<param name = "Motor_param/L_B_min" value = "1481"/>
	<param name = "Motor_param/L_F_limit" value = "1650"/>
	<param name = "Motor_param/L_B_limit" value = "1350"/>
</launch>
 
